
.msg-list{
    width: 50%;
    margin: 2% auto; 
    padding: 0;
}

.msg-list li{
    padding: 1%;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .msg-list li{
        padding: 2.5%;
    }

    .msg-list{
        width: 70%;
    }
  }

@media only screen and (max-width: 600px) {
    .msg-list li{
        padding: 5%;
    }

    .msg-list{
        width: 100%;
    }
}

