

.navbar{
    padding: 0.2%;
}

.navbar-links{
    margin: 0 auto;
}

.navbar-links .link{
    color: beige;
    margin:2.5%;
    text-decoration: none;
}

.navbar-links .link:hover{
    color: rgb(148, 148, 147);
}

